<$include virtual="/includes/htmlOpen.inc"/$>	
<body id="onecolumn">
	<div id="wrapper">
		<div id="bodyFade">
			<div id="PageContainer">
				<div id="header"></div>
				<div id="navigation"></div>
				<div id="subnavigation">
					<$rootmenu cssClass="mainNav" showHome="true" /$>
				</div>
				<div id="contentBackground" class="floatLeft">
					<div id="contentContainer" class="floatLeft">
						<$region name="MainContent"$><$/region$>
					</div>
				</div>
	<$include virtual="/includes/footerWrapper.inc"/$>
<$include virtual="/includes/htmlClose.inc"/$>